/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

main {
  margin-top: 56px;
  min-height: calc(100vh - 100px);
}

.carousel-item {
  height: 25vh;
  text-align: center;
  color: white;
}

[data-banner="1"] {
  background-color: purple;
}
[data-banner="2"] {
  background-color: darkslategray;
}
[data-banner="3"] {
  background-color: darkslateblue;
}

h2 {
  color: darkslateblue;
  font-weight: bolder;
}

h3 {
  color: darkslategray;
}

footer {
  height: 44px;
}